link(href='https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css',rel='stylesheet')
link(href='https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css',rel='stylesheet')
style.
	body {
		padding-bottom: 60px;
	}
script(src='http://cdn.bootcss.com/jquery/2.1.4/jquery.min.js')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js')
