link(href='http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css',rel='stylesheet')
link(href='http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap-theme.min.css',rel='stylesheet')
style.
	body {
		padding-bottom: 60px;
	}
script(src='http://cdn.bootcss.com/jquery/2.1.4/jquery.min.js')
script(src='http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js')