footer.bg-light.py-2.fixed-bottom.border-top
	.container
		.d-flex.align-items-center.justify-content-between
			.small.mb-0 &copy; 2026 iBook
			.small
				a.me-3(href='/') 首页
				a.me-3(href='/results') 书籍
				if user && user.role >= 10
					a.me-3(href='/admin/book/list') 图书管理
					a.me-3(href='/admin/category/list') 分类管理
					a(href='/admin/user/list') 用户管理
